/*
 * Stylesheet for DWA E-15 project 1
 */


/* Color scheme: http://paletton.com/palette.php?uid=53N0i0kN9LJ8HUmo6P0-qmdppbG */


/* Note: Default styles are for mobile first.
         Responsive styling for larger screens follows. */

body {
    line-height: 1.7em;
    color: #B4C4EE;
    font-size: 13px;
}

h1,
h2,
h3 {
    color: #121E3F;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 * From: http://purecss.io/combo/1.18.13?/css/layouts/marketing.css
 * See BSD 3-Clause license in /css/purecss.license.txt
 */

.splash-backdrop {
    background: #0A41D7;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash-container {
    width: 100%;
    height: 50%;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 45%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 150%;
}

.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 20em;
    width: 100%;
    min-height: 100%;
    z-index: 2;
    background: white;
    overflow-x: hidden;
}

.img-peek {
    height: 40vh;
    min-height: 200px;
    /* Transform is rather buggy, especially cross-browser.
        transform: translateZ(-1px) scale(1.1); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 50%;
    background-position-y: 40%;
    background-size: 63em;
    box-shadow: inset 0 0 2em #080808;
    margin-top: -3vh;
}

.content-head {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

.content {
    width: 100%;
    overflow-x: auto;
}

.numeral-block {
    margin: auto;
    padding: 0;
    width: 120px;
    height: 100px;
    color: #B4C4EE;
    background: #0A41D7;
    font-size: 80px;
    line-height: 100px;
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
}

.numeral-II::before {
    content: "II";
}

.numeral-III::before {
    content: "III";
}

.numeral-IV::before {
    content: "IV";
}


/* Responsive css for medium screens */

@media (min-width: 48em) {
    .content {
        padding: 1em;
        font-size: 16px;
    }
    .splash {
        width: 50%;
        height: 60%;
        font-size: 200%;
    }
    /* Adjust the position of the peek image */
    .img-peek {
        background-position-y: 40%;
        background-size: 90em;
    }
}


/* Responsive css for large screens */

@media (min-width: 78em) {
    .splash {
        font-size: 250%;
    }
    /* Adjust the position of the peek image */
    .img-peek {
        background-position-y: 40%;
        background-size: cover;
    }
}